
# Python
__pycache__/
*.pyc
.venv/

# Env & secrets & outputs
.env
.env.local
*.env
reports/
*.html
*.json
keys/
dist/

# Docker
*.log

# Node/OS/IDE
node_modules/
.DS_Store
Thumbs.db
.vscode/
.idea/

